<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    * {
      box-sizing: border-box;
      font-family: "Arial", Helvetica, sans-serif;
      margin: 0;
      padding: 0;
    }
	.carousel__holder {
		width: 90%; 
		position: relative; 
		margin-left: auto; margin-right: auto;
		}
		

	.carousel {
		object-fit: contain;
		height: 100%;
		width: 100%;
		overflow: hidden;
		text-align: center;
		position: absolute;
		padding: 0;
		}

	.carousel__slide {
		object-fit: cover;
		object-fit: contain;
		height: 100%;
		position: absolute;
		opacity: 0;
		}	
    		
	.carousel__slide .overlay {height: 100%;}
	.carousel--thumb .carousel__indicator {
		height: 30px;
	width: 30px;
	}
	</style>

</head>


<body>

<div class="carousel_holder" id="carousel_holder">

    <div class="carousel_slide">
      <img src="/uploads/slider/001.jpg" class="carousel">
    </div>
    <div class="carousel_slide">
      <img src="/uploads/slider/002.jpg" class="carousel">
	</div>
	<div class="carousel_slide">
	  <img src="/uploads/slider/003.jpg" class="carousel">  
    </div>
    <div class="carousel_slide">
      <img src="/uploads/slider/004.jpg" class="carousel">
	</div>
	<div class="carousel_slide">
 	  <img src="/uploads/slider/005.jpg" class="carousel">
    </div>
    <div class="carousel_slide">
	  <img src="/uploads/slider/006.jpg" class="carousel">
	</div>
    <div class="carousel_slide">
	  <img src="/uploads/slider/007.jpg" class="carousel">
    </div>
    <div class="carousel_slide">
      <img src="/uploads/slider/008.jpg" class="carousel">
    </div>
	<div class="carousel_slide">
      <img src="/uploads/slider/009.jpg" class="carousel">
    </div>
    <div class="carousel_slide">
      <img src="/uploads/slider/010.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/011.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/012.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/013.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/014.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/015.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/016.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/017.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/018.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/019.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/020.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/021.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/022.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/023.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/024.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/025.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/026.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/027.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/028.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/029.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/030.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/031.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/032.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/033.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/034.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/035.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/036.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/037.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/038.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/039.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/040.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/041.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/042.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/043.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/044.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/045.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/046.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/047.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/048.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/049.jpg" class="carousel">
    </div> 
	<div class="carousel_slide">
      <img src="/uploads/slider/050.jpg" class="carousel">
    </div> 
  
  </div>


  <script>
    let a = [];
    for (let i = 0; i < 50; ++i) a[i] = i;

    // http://stackoverflow.com/questions/962802#962890
    function shuffle(array) {
      let tmp, current, top = array.length;
      if (top)
        while (--top) {
          current = Math.floor(Math.random() * (top + 1));
          tmp = array[current];
          array[current] = array[top];
          array[top] = tmp;
        }
      return array;
    }

    a = shuffle(a);
    var myIndex = 0;

    carousel();

    function carousel() {

      var i;

      var x = document.getElementsByClassName("carousel");

      myTimeout = setTimeout(carousel, 1000);

      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }

      myIndex++;

      if (myIndex > x.length) {
        a = shuffle(a);
        myIndex = 1
      }
      x[a[myIndex - 1]].style.display = "block";

      // COMMENTED AS IT'S NOT A LEGAL FN: document.getElementByClass("thewellContainer").style.color = "transparent";

    }

    
  </script>

</body>
