---
layout: default
---

<div class="home">
  <!--{%- if page.title -%}-->
    <!--<h1 class="page-heading">{{ page.title }}</h1>-->
  <!--{%- endif -%}-->
<h1><a href="#" onclick="randomSite();" class="link_cursor"; style="font-family: Philosopher;" onMouseOver="this.style.color='#fafafa'" onMouseOut="this.style.color='#aaa'">indicibile</a></h1>
  <h1><a href="mailto:indicibili@protonmail.com" style="font-family: Philosopher;>CONTATTO</a></h1>
  {{ content }}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>style="text-align: center; font-family: MinecrafterReg
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via rss</a></p>
  {%- endif -%}

</div>
